.p20{
    font-size: 25px;
    margin: 0;
    margin-left: 25px;
}
.logo14{
    width: 350px;
}
.block10{
    width: 100%;
}
.logo15{
    width: 350px;
}
.logo16{
    width: 350px;
}
.logo17{
    width: 350px;
}